h1 {
    color: blue;
    background-color: lightblue;
    font-size: 2rem;
    border:solid red;
    text-align: center;
    padding: 40px;
    width: 50%;
    
}

h2 {
    color: blue;
    text-decoration: underline;
    font-size: 1.5rem;
    clear: right;
}

#portrait {
           float: right;
}

#portrait img {
               width: 200px;
}

figure img {
            height: 200px;
}

figure {
    text-align: center;
    margin: 2px;
    padding: 4px;
    border: 1px outset;
}

.EDVAC {
        display: flex;
}

#machine {
    float: left;
}

#machine img {
    height: 200px;
}

h3 {
    clear: left;
}

div#image {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px; 
}

div#image img {
    width: 100%; 
    height: 150px; 
    object-fit: cover;
}

iframe {
    display: none;
}
